* {

}

#calc-ctn {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

#numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

}
