* {

}

#calc-ctn {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    max-width: 500px;
    justify-content: center;

}

#numbers, #operators {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    border: 2px solid blue;

}

#display {
    border: 2px solid green;
    margin: 0 auto;
}
